html {
    background-image: url("images/whirlpool.png");
}

.header{
    border: 2px;
    padding: 10px
}

.name {

}

.navbar {
    
}

.about {

}

.portfolio {

}

.contact {

}

.content {
    width: 960px;
}